/* * {border: 1px solid black;} */

* {
    font-family: 'Courier New', Courier, monospace;
}

html {
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
}
.title {
    float: left;
    
}
.ul_nav {
    float: right;
    margin-right: 50px;
    margin-top: 35px;
}
.ul_nav li {
    display: inline;
    
}

.banner {
    width: 100%;
    height: 35%;
    border: 4px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.banner img {
    /* margin-left: -50px;
    margin-top: -50px; */

    width: 100%;
    height: 100%;
}


.clear {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    background-color: red;
    color: aquamarine;
}

.contentTitle {
    text-align: center;
    font-size: 35px;
}